<!DOCTYPE html>
<html>
<head>
  <title>PollStar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand", href="<%= polls_url %>">PollStar</a>
      <a class="brand pull-right", href="<%= new_poll_url %>">+</a>  
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<div id="debugger-line">
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
